.profile__text {
  max-width: 336px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin: 14px 0 0;
  grid-area: text;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .profile__text {
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .profile__text {
    max-width: 282px;
    font-size: 14px;
    line-height: 1.21;
    margin-top: 14px;
  }
}
