.profile__info {
  max-width: 336px;
  margin: 22px 0 25px;
  display: grid;
  grid-template-columns: repeat(294px 24px);
  grid-template-columns: repeat(39px 18px);
  grid-template-areas:
    'title edit-button'
    'text text';
}

@media screen and (max-width: 540px) {
  .profile__info {
    margin: 0;
  }
}
