.registration__title {
  font-weight: 900;
  text-align: center;
  font-size: 24px;
  line-height: 1.2px;
  margin: 60px auto 50px;
}

@media screen and (max-width: 540px) {
  .registration__title {
    max-width: 320px;
    margin: 40px auto;
  }
}
