.registration__save-button {
  width: 358px;
  height: 50px;
  margin: 186px auto 15px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.2px;
  text-align: center;
  color: #000;
  background-color: #fff;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.registration__save-button:hover {
  opacity: 0.8;
}
