.elements {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  max-width: 880px;
  padding: 46.25px 0 66px;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  gap: 20px 17px;
}

@media screen and (max-width: 1023px) {
  .elements {
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, 361px);
    justify-content: center;
    gap: 30px 40px;
  }
}

@media screen and (max-width: 767px) {
  .elements {
    grid-template-columns: repeat(1, 282px);
    grid-template-rows: repeat(6, 361px);
  }
}

@media screen and (max-width: 540px) {
  .elements {
    padding: 0 0 48px;
    gap: 20px;
  }
}
