.profile__title {
  max-width: 294px;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  text-align: center;
  margin: 0 18px 0 0;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .profile__title {
    margin-right: 9px;
  }
}

@media screen and (max-width: 540px) {
  .profile__title {
    max-width: 189px;
    font-size: 27px;
    line-height: 1.22;
    margin-right: 10px;
  }
}
