.element {
  position: relative;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  max-width: 282px;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .header__line {
    max-width: 768px;
  }
}
