.logo {
  max-width: 142px;
  max-height: 33px;
  padding: 45px 0 41px;
}

@media screen and (max-width: 1023px) {
  .logo {
    padding-left: 20px;
  }
}

@media screen and (max-width: 540px) {
  .logo {
    max-width: 104px;
    max-height: 24.4px;
    padding: 28px 0 31.6px 27px;
  }
}
