.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin: 3.75px 30px 3.75px 0;
}

.profile__avatar-overlay:hover {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .profile__avatar {
    margin: auto 20px auto 0;
  }
}

@media screen and (max-width: 540px) {
  .profile__avatar {
    margin: 38.25px auto 22.25px;
  }
}
