.registration__input {
  width: 100%;
  height: 27px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin: 0 auto 30px;
  border: 0;
  box-sizing: border-box;
  background-color: #000;
  border-bottom: 2px solid #ccc;
  color: #fff;
}

@media screen and (max-width: 540px) {
  .registration__input {
    max-width: 260px;
  }
}
