.registration {
  max-width: 880px;
  margin: 0 auto;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 540px) {
  .registration {
    max-width: 320px;
  }
}
