@import url(../src/vendor/normalize.css);
@import url(../src/vendor/fonts/fonts.css);
@import url(../src/blocks/page/page.css);
@import url(../src/blocks/header/header.css);
@import url(../src/blocks/header/__button/header__button.css);
@import url(../src/blocks/header/__button/_active/header__button_active.css);
@import url(../src/blocks/header/__login/header__login.css);
@import url(../src/blocks/logo/logo.css);
@import url(../src/blocks/content/content.css);
@import url(../src/blocks/profile/profile.css);
@import url(../src/blocks/profile/__avatar/profile__avatar.css);
@import url(../src/blocks/profile/__info/profile__info.css);
@import url(../src/blocks/profile/__title/profile__title.css);
@import url(../src/blocks/profile/__text/profile__text.css);
@import url(../src/blocks/profile/__edit-button/profile__edit-button.css);
@import url(../src/blocks/profile/__add-button/profile__add-button.css);
@import url(../src/blocks/elements/elements.css);
@import url(../src/blocks/element/element.css);
@import url(../src/blocks/element/__img/element__img.css);
@import url(../src/blocks/element/__caption/element__caption.css);
@import url(../src/blocks/element/__text/element__text.css);
@import url(../src/blocks/element/__button-like/element__button-like.css);
@import url(../src/blocks/element/__button-like/_active/element__button-like_active.css);
@import url(../src/blocks/element/__like-counter/element__like-counter.css);
@import url(../src/blocks/element/__button-delete/element__button-delete.css);
@import url(../src/blocks/element/__button-delete/_hidden/element__button-delete_hidden.css);
@import url(../src/blocks/element/__button-delete/_visible/element__button-delete_visible.css);
@import url(../src/blocks/footer/footer.css);
@import url(../src/blocks/footer/__text/footer__text.css);
@import url(../src/blocks/popup/popup.css);
@import url(../src/blocks/popup/_opened/popup_opened.css);
@import url(../src/blocks/popup/__window/popup__window.css);
@import url(../src/blocks/popup/__window/_view/popup__window_view-card.css);
@import url(../src/blocks/popup/_view/popup_view_card.css);
@import url(../src/blocks/popup/__img/popup__img.css);
@import url(../src/blocks/popup/__title/popup__title.css);
@import url(../src/blocks/popup/__title/_view/popup__title_view-card.css);
@import url(../src/blocks/popup/__title/_delete/popup__title_delete-card.css);
@import url(../src/blocks/popup/__form/popup__form.css);
@import url(../src/blocks/popup/__input/popup__input.css);
@import url(../src/blocks/popup/__close-button/popup__close-button.css);
@import url(../src/blocks/popup/__save-button/popup__save-button.css);
@import url(../src/blocks/popup/__save-button/_inactive/popup__save-button_inactive.css);
@import url(../src/blocks/popup/__save-button/_load/popup__save-button_load.css);
@import url(../src/blocks/popup/__input/_type/popup__input_type_error.css);
@import url(../src/blocks/popup/__input-error/popup__input-error.css);
@import url(../src/blocks/registration/registration.css);
@import url(../src/blocks/registration/__save-button/registration__save-button.css);
@import url(../src/blocks/registration/__save-button/_enter/registration__save-button_enter.css);
@import url(../src/blocks/registration/__form/registration__form.css);
@import url(../src/blocks/registration/__input/registration__input.css);
@import url(../src/blocks/registration/__title/registration__title.css);
@import url(../src/blocks/registration/__paragraph/registration__paragraph.css);
@import url(../src/blocks/registration/__link/registration__link.css);
