.element__button-like {
  position: relative;
  width: 22px;
  height: 19px;
  margin: 21px 20px 13px 0;
  padding: 0;
  border: 0;
  background: #fff;
  background-image: url(../../../images/like.svg);
  cursor: pointer;
  transition: background-image 0.3s ease;
}

.element__button-like:hover {
  opacity: 0.5;
}
