.header__button {
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  background-color: #000;
  border: none;
  margin-top: 51px;
  transition: opacity 0.2s ease;
  text-decoration: none;
}

.header__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 540px) {
  .header__button {
    margin: 34px 0 30px;
  }
}
